@model Movie_Mania.Resources.MovieResources
@{
    ViewBag.Title = "MovieDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";


}



<section id="trend" class="pt-4 pb-5" style="background-color:#010102">



    <div class="row">
        <div class="container">
            <div class="card" style="margin-left:100px;margin-right:100px">
                <div class="card-body">

                    <h2 style="font-weight: 400; font-family: 'Raleway', sans-serif;">@Model.Name</h2>

                    <h6 style="font-weight:100; font-family: 'Raleway', sans-serif;">@Model.ReleaseDate.Year</h6>
                    <span class="col_red me-3">
                        @if (ViewBag.Rate != 0)
                        {
                            for (var i = 0; i < ViewBag.Rate; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else
                        {
                            <strong style="font-weight:lighter">Not Rated</strong>

                        }
                    </span>
                </div>

                <div class="card-body" style="display:flex">
                    <img src="@Model.ImagePath" class="d-block" alt="..." style="width:300px">

                    @if (Model.VideoPath == null)
                    {
                        <div class="text-center" style="padding-top:400px;padding-left:500px;display:flex;gap:10px">
                            <span style="color:#DE1002"><i class="fa fa-exclamation-circle" style="font-size:40px"></i></span>
                            <h3>Video not available</h3>
                        </div>
                    }
                    else
                    {
                        <iframe style="height:500px;width:800px" class="d-block" src="@Model.VideoPath" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


                    }

                </div>
                <div class="card-body">

                    <div style="display:flex">
                        @foreach (var genre in Model.SelectedGenres)
                        {
                            <a class="bg_red p-2 pe-4 ps-4 ms-3 text-white d-inline-block " style="text-decoration:none;border-radius:10px" href="@Url.Action("Movie_Genre", "Home", new {genreName=genre.name})">@genre.name</a>
                        }
                    </div>
                    <p><h5 style="font-weight:lighter"> @Model.Description</h5></p>
                    <hr />
                    <p><h5 style="font-weight:lighter"><span style="font-weight:bold">Country</span> <span class="col_red me-1"> @Model.Country</span></h5></p>
                    <hr />


                </div>
                <div class="card-body">

                    @if (ViewBag.LoggedInUserName != null && ViewBag.UserRole != "Admin")
                    {
                        using (Html.BeginForm("AddRating", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group" style="color: #fff;">
                                <h2>Rate the Movie</h2>
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <label>
                                        @Html.RadioButtonFor(model => model.NewRating.Value, i)
                                        <i class="fa fa-star" style="color: #DE1002;"></i>
                                    </label>
                                }
                            </div>
                            @Html.HiddenFor(c => Model.Slug)
                            @Html.HiddenFor(model => model.Id)
                            <input type="submit" value="Submit" class="btn btn-primary" style="background-color: #DE1002; border-color: #ff4500;" />
                            <hr />
                        }
                    }


                    @if (ViewBag.LoggedInUserName != null && ViewBag.UserRole != "Admin")
                    {
                        <div class="add-comment-container">
                            <h2 class="text-white">Add a Comment</h2>
                            @using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.NewCommentresource.Post, new { @class = "form-control", rows = "2", style = "background-color: #191A1D; border-color: #DE1002; color: #fff;" })
                                    @Html.ValidationMessageFor(model => model.NewCommentresource.Post, "", new { @class = "text-danger" })

                                </div>
                                @Html.HiddenFor(c => Model.Slug)
                                @Html.HiddenFor(model => model.Id)
                                <input type="submit" value="Post" class="btn btn-primary" style="background-color: #DE1002; border-color: #ff4500;" />
                            }
                        </div>
                    }

                    @if (Model.MovieCommentsresource != null && Model.MovieCommentsresource.Count > 0)
                    {
                        <div class="comments-container" style="margin-top:20px">
                            <h2 class="text-white">Reviews</h2>
                            <ul style="list-style-type: none; padding: 0;">
                                @foreach (var comment in Model.MovieCommentsresource)
                                {
                                    <li style="margin-bottom: 20px; border: 1px solid #DE1002; padding: 10px;">
                                        <div class="comment-info">
                                            <span class="comment-user" style="color: #DE1002;">@comment.User</span>
                                            <span class="comment-date" style="color: #999; margin-left: 10px;">@comment.PostDate.ToShortDateString()</span>
                                        </div>
                                        <div class="comment-content" style="margin-top: 10px;">
                                            @comment.Post
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else if (Model.MovieCommentsresource.Count == 0)
                    {
                        <div class="comments-container" style="margin-top: 20px;">
                            <h2 style="color: #DE1002;">Reviews</h2>
                            <h6 style="font-size: 14px; color: #fff;">No Reviews</h6>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>






</section>
